<!-- Normal Button -->
<p>To use this component, simply add the <code>.breadcrumb</code> class to a <code>&lt;ul&gt;</code> or <code>&lt;ol&gt;</code> element.<br>
  Set the current/active page with the <code>.active</code> class.</p>

<h5 class="pattern-sub-hdr">Example:</h5>
<ul class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Listing</a></li>
  <li class="active"><a href="#">Offers Details</a></li>
</ul>

<h5 class="pattern-sub-hdr">Markup:</h5>
<div class="pattern-code">
  <ol>
    <li>&lt;ul class=&quot;breadcrumb&quot;&gt;</li>
    <li>&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;</li>
    <li>&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Listing&lt;/a&gt;&lt;/li&gt;</li>
    <li>&lt;li class=&quot;active&quot;&gt;&lt;a href=&quot;#&quot;&gt;Offers Details&lt;/a&gt;&lt;/li&gt;</li>
    <li>&lt;/ul&gt;</li>
  </ol>
</div>

<hr>





