<div class="page-wrapper">
  <section>
    <div class="page-container">
      <!-- Normal Button -->
      <p>To use this component, simply add the <code>.breadcrumb</code> class to a <code>&lt;ul&gt;</code> or <code>&lt;ol&gt;</code> element.<br>
      Set the current/active page with the <code>.active</code> class.</p>
      <h5 class="pattern-sub-hdr">Example:</h5>
      <nav role="navigation" aria-label="breadcrumb">
        <ul class="breadcrumb">
          <li><a href="#" aria-level="1">Home</a></li>
          <li><a href="#" aria-level="2">Listing</a></li>
          <li class="active"><a href="#">Offers Details</a></li>
        </ul>
      </nav>
      <h5 class="pattern-sub-hdr">Markup:</h5>
      <div class="pattern-code">
        <ol>
          <li>&lt;nav role=&quot;navigation&quot; aria-label=&quot;breadcrumb&quot;&gt;</li>
          <li>&lt;ul class=&quot;breadcrumb&quot;&gt;</li>
          <li>&lt;li&gt;&lt;a aria-level=&quot;1&quot; href=&quot;#&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;</li>
          <li>&lt;li&gt;&lt;a aria-level=&quot;2&quot; href=&quot;#&quot;&gt;Listing&lt;/a&gt;&lt;/li&gt;</li>
          <li>&lt;li class=&quot;active&quot;&gt;&lt;a href=&quot;#&quot;&gt;Offers Details&lt;/a&gt;&lt;/li&gt;</li>
          <li>&lt;/ul&gt;</li>
          <li>&lt;/nav&gt;</li>
        </ol>
      </div>
    </div>
  </section>
</div>
<hr>