<div class="page-wrapper">
  <section>
    <div class="page-container">
      <h5 class="pattern-title-hdr">Button - Active state</h5>
      <!-- Normal Button -->
      <p>To use this component, simply add the <code>.btn</code> class to a <code>&lt;a&gt;</code>, <code>&lt;button&gt;</code> or <code>&lt;input type="button"&gt;</code> element.</p>
      <h5 class="pattern-sub-hdr">Example:</h5>
      <a role="button" aria-disabled="false" href="#" class="btn">&lt;a&gt; link disguised as a button</a>
      <button role="button" aria-disabled="false" class="btn"><span class="icon icon-demo"></span>&lt;button&gt; Button</button>
      <input role="button" aria-disabled="false" type="button" class="btn" value="Input Button" />
      <input role="button" aria-disabled="false" type="submit" class="btn" value="Input Submit" />
      <h5 class="pattern-sub-hdr">Markup:</h5>
      <div class="pattern-code">
        <ol>
          <li>&lt;a role=&quot;button&quot; aria-disabled=&quot;false&quot; href=&quot;#&quot; class=&quot;btn&quot;&gt;link disguised as a button&lt;/a&gt;</li>
          <li>&lt;button role=&quot;button&quot; aria-disabled=&quot;false&quot; class=&quot;btn&quot;&gt;Button&lt;/button&gt;</li>
          <li>&lt;input role=&quot;button&quot; aria-disabled=&quot;false&quot; type=&quot;button&quot; class=&quot;btn&quot; value=&quot;Input Button&quot; /&gt;</li>
          <li>&lt;input role=&quot;button&quot; aria-disabled=&quot;false&quot; type=&quot;submit&quot; class=&quot;btn&quot; value=&quot;Input Submit&quot; /&gt;</li>
        </ol>
      </div>
      <hr>
      <!-- Disabled Button -->
      <h5 class="pattern-title-hdr">Button - Disabled state</h5>
      <p>Along with the <code>.btn</code> class, add another additional <code>.disabled</code> class to the element.</p>
      <h5 class="pattern-sub-hdr">Example:</h5>
      <a role="button" aria-disabled="true" href="#" class="btn disabled">&lt;a&gt; link disguised as a button</a>
      <button role="button" aria-disabled="true" class="btn disabled">&lt;button&gt; Button</button>
      <input role="button" aria-disabled="true" type="button" class="btn disabled" value="Input Button" />
      <input role="button" aria-disabled="true" type="submit" class="btn disabled" value="Input Submit" />
      <h5 class="pattern-sub-hdr">Markup:</h5>
      <div class="pattern-code">
        <ol>
          <li>&lt;a role=&quot;button&quot; aria-disabled=&quot;true&quot; href=&quot;#&quot; class=&quot;btn disabled&quot;&gt;link disguised as a button&lt;/a&gt;</li>
          <li>&lt;button role=&quot;button&quot; aria-disabled=&quot;true&quot; class=&quot;btn disabled&quot;&gt;Button&lt;/button&gt;</li>
          <li>&lt;input role=&quot;button&quot; aria-disabled=&quot;true&quot; type=&quot;button&quot; class=&quot;btn disabled&quot; value=&quot;Input Button&quot; /&gt;</li>
          <li>&lt;input role=&quot;button&quot; aria-disabled=&quot;true&quot; type=&quot;submit&quot; class=&quot;btn disabled&quot; value=&quot;Input Submit&quot; /&gt;</li>
        </ol>
      </div>
      <hr>
      <!-- Full Width Button -->
      <h5 class="pattern-title-hdr">Button - Full Width state</h5>
      <p>Along with the <code>.btn</code> class, add another additional <code>.full-width</code> class to the element.</p>
      <h5 class="pattern-sub-hdr">Example:</h5>
      <div class="row">
        <a role="button" aria-disabled="false" href="#" class="btn full-width">Full Width &lt;a&gt; link disguised as a button</a>
      </div>
      <div class="row">
        <button role="button" aria-disabled="false" class="btn full-width">Full Width &lt;button&gt; Button</button>
      </div>
      <div class="row">
        <input role="button" aria-disabled="false" type="button" class="btn full-width" value="Input Button" />
      </div>
      <div class="row">
        <input role="button" aria-disabled="false" type="submit" class="btn full-width" value="Input Submit" />
      </div>
      <h5 class="pattern-sub-hdr">Markup:</h5>
      <div class="pattern-code">
        <ol>
          <li>&lt;a role=&quot;button&quot; aria-disabled=&quot;false&quot; href=&quot;#&quot; class=&quot;btn full-width&quot;&gt;Button&lt;/a&gt;</li>
          <li>&lt;button role=&quot;button&quot; aria-disabled=&quot;false&quot; class=&quot;btn full-width&quot;&gt;Button&lt;/button&gt;</li>
          <li>&lt;input role=&quot;button&quot; aria-disabled=&quot;false&quot; type=&quot;button&quot; class=&quot;btn full-width&quot; value=&quot;Input Button&quot; /&gt;</li>
          <li>&lt;input role=&quot;button&quot; aria-disabled=&quot;false&quot; type=&quot;submit&quot; class=&quot;btn full-width&quot; value=&quot;Input Submit&quot; /&gt;</li>
        </ol>
      </div>
    </div>
  </section>
</div>
<hr>