<!-- USAGE - START -->
<div class="page-wrapper">

  <section class="col-6">
    <div class="page-container">
      <h5 class="pattern-sub-hdr">Usage:</h5>

      <code>&lt;div class=&quot;page-wrapper&quot;&gt;</code>
      <p>Full width content are placed here, such as carousel, hero banners, full-width background colour or image, border lines, etc. <br>
        The &lt;section&gt; tag uses a fixed width specified in the global configuration SCSS file.<br>
        You can edit the $max-container-width variable found in the _config_global.scss file.<br>
        You can add a .full-width CSS class to change the &lt;section&gt; tag to 100% width.</p>

      <code>
        &lt;div class=&quot;page-wrapper&quot;&gt;<br>
        &nbsp;&lt;section&gt;<br>
        &nbsp;&nbsp;&lt;div class=&quot;page-container&quot;&gt;
      </code>
      <p>The "page-container" class, comes with a default of 20px padding for the sides. Use helper CSS classes to adjust the top and bottom padding. Refer to the Example below for a list of helper CSS classes for inner layout placement.</p>
    </div>

    <div class="page-container">
      <h5 class="pattern-sub-hdr">Markup:</h5>
      <div class="pattern-code">
        <ol>
          <li>&lt;div class=&quot;page-wrapper&quot;&gt;</li>
          <li>&nbsp;&lt;section&gt;</li>
          <li>&nbsp;&nbsp;&lt;div class=&quot;page-container&quot;&gt;&lt;/div&gt;</li>
          <li>&nbsp;&lt;/section&gt;</li>
          <li>&lt;/div&gt;</li>
        </ol>
        <br>
        <ol>
          <li>&lt;div class=&quot;page-wrapper&quot;&gt;</li>
          <li>&nbsp;&lt;section class=&quot;full-width&quot;&gt;</li>
          <li>&nbsp;&nbsp;&lt;div class=&quot;page-container&quot;&gt;&lt;/div&gt;</li>
          <li>&nbsp;&lt;/section&gt;</li>
          <li>&lt;/div&gt;</li>
        </ol>
      </div>
    </div>
  </section>

</div>
<!-- USAGE - END -->

<!-- EXAMPLE - START -->
<div class="page-wrapper pattern-box">

  <section class="full-width">
    <div class="page-container pad-top-btm">
      <h5 class="text-white">Example:</h5>
    </div>
  </section>

  <section>
    <div class="page-container pad-top-btm" style="background-color: #BBBBBB;">
      <div class="left-content" style="background-color: #AAAAAA;">
        .left-content
      </div>
      <div class="main-content" style="background-color: #AAAAAA;">
        .main-content
      </div>
    </div>

    <code>
      &lt;div class=&quot;page-wrapper&quot;&gt;<br>
      &nbsp;&lt;section&gt;<br>
      &nbsp;&nbsp;&lt;div class=&quot;page-container pad-top-btm&quot;&gt;<br>
      &nbsp;&nbsp;&nbsp;&lt;div class=&quot;left-content&quot;&gt;&lt;/div&gt;<br>
      &nbsp;&nbsp;&nbsp;&lt;div class=&quot;main-content&quot;&gt;&lt;/div&gt;<br>
      &nbsp;&nbsp;&lt;/div&gt;<br>
      &nbsp;&lt;/section&gt;<br>
      &lt;/div&gt;
    </code>

  </section>

  <section>
    <div class="page-container pad-top-btm" style="background-color: #BBBBBB;">
      <div class="main-content" style="background-color: #AAAAAA;">
        .main-content
      </div>
      <div class="right-content" style="background-color: #AAAAAA;">
        .right-content
      </div>
    </div>
  </section>

  <section>
    <div class="page-container pad-top-btm" style="background-color: #BBBBBB;">
      <div class="half-content" style="background-color: #AAAAAA;">
        .half-content
      </div>
      <div class="half-content" style="background-color: #AAAAAA;">
        .half-content
      </div>
    </div>
  </section>

  <section>
    <div class="page-container pad-top-btm" style="background-color: #BBBBBB;">
      <div class="tri-content" style="background-color: #AAAAAA;">
        .tri-content
      </div>
      <div class="tri-content" style="background-color: #AAAAAA;">
        .tri-content
      </div>
      <div class="tri-content" style="background-color: #AAAAAA;">
        .tri-content
      </div>
    </div>
  </section>

  <section>
    <div class="page-container pad-top-btm" style="background-color: #BBBBBB;">
      <div class="quad-content" style="background-color: #AAAAAA;">
        .quad-content
      </div>
      <div class="quad-content" style="background-color: #AAAAAA;">
        .quad-content
      </div>
      <div class="quad-content" style="background-color: #AAAAAA;">
        .quad-content
      </div>
      <div class="quad-content" style="background-color: #AAAAAA;">
        .quad-content
      </div>
    </div>
  </section>

  <section>
    <div class="page-container pad-top-btm" style="background-color: #BBBBBB;">
      <div class="central-content" style="background-color: #AAAAAA;">
        .central-content
      </div>
    </div>
  </section>

</div>
<!-- EXAMPLE - END -->
