<!-- Normal Button -->
<p>To use this component, simply add the <code>.pagination</code> class to a <code>&lt;ul&gt;</code> or <code>&lt;ol&gt;</code> element. <br>
  Set the current/active page with the <code>.active</code> class.</p>

<h5 class="pattern-sub-hdr">Example:</h5>
<table class="table" role="grid">
  <caption>Table caption</caption>
  <thead>
  <tr role="row">
    <th role="columnheader">Table Heading</th>
    <th role="columnheader">Table Heading</th>
    <th role="columnheader">Table Heading</th>
  </tr>
  </thead>
  <tfoot>
  <tr role="row">
    <td>Table Footer</td>
    <td>Table Footer</td>
    <td>Table Footer</td>
  </tr>
  </tfoot>
  <tbody>
  <tr role="row">
    <td>Table Data</td>
    <td>Table Data</td>
    <td>Table Data</td>
  </tr>
  <tr role="row">
    <td>Table Data</td>
    <td>Table Data</td>
    <td>Table Data</td>
  </tr>
  <tr role="row">
    <td>Table Data</td>
    <td>Table Data</td>
    <td>Table Data</td>
  </tr>
  </tbody>
</table>

<br><br>

<p>For 100% width, simply add the <code>.full-width</code> class to a <code>&lt;table&gt;</code> element.</p>

<table class="table full-width" role="grid">
  <caption>Table caption</caption>
  <thead>
  <tr role="row">
    <th role="columnheader">Table Heading</th>
    <th role="columnheader">Table Heading</th>
    <th role="columnheader">Table Heading</th>
  </tr>
  </thead>
  <tfoot>
  <tr role="row">
    <td>Table Footer</td>
    <td>Table Footer</td>
    <td>Table Footer</td>
  </tr>
  </tfoot>
  <tbody>
  <tr role="row">
    <td>Table Data</td>
    <td>Table Data</td>
    <td>Table Data</td>
  </tr>
  </tbody>
</table>

<br><br>

<p>For borders all around, simply add the <code>.border-lines</code> class to a <code>&lt;table&gt;</code> element.</p>

<table class="table full-width border-lines" role="grid">
  <caption>Table caption</caption>
  <thead>
  <tr role="row">
    <th role="columnheader">Table Heading</th>
    <th role="columnheader">Table Heading</th>
    <th role="columnheader">Table Heading</th>
  </tr>
  </thead>
  <tfoot>
  <tr role="row">
    <td>Table Footer</td>
    <td>Table Footer</td>
    <td>Table Footer</td>
  </tr>
  </tfoot>
  <tbody>
  <tr role="row">
    <td>Table Data</td>
    <td>Table Data</td>
    <td>Table Data</td>
  </tr>
  </tbody>
</table>

<h5 class="pattern-sub-hdr">Markup:</h5>
<div class="pattern-code">
  <ol>
    <li>&lt;table class=&quot;table&quot; role=&quot;grid&quot;&gt;</li>
    <li>&lt;caption&gt;Table caption&lt;/caption&gt;</li>
    <li>&lt;thead&gt;</li>
    <li>&lt;tr role=&quot;row&quot;&gt;</li>
    <li>&lt;th role=&quot;columnheader&quot;&gt;Table Heading&lt;/th&gt;</li>
    <li>&lt;th role=&quot;columnheader&quot;&gt;Table Heading&lt;/th&gt;</li>
    <li>&lt;th role=&quot;columnheader&quot;&gt;Table Heading&lt;/th&gt;</li>
    <li>&lt;/tr&gt;</li>
    <li>&lt;/thead&gt;</li>
    <li>&lt;tfoot&gt;</li>
    <li>&lt;tr role=&quot;row&quot;&gt;</li>
    <li>&lt;td&gt;Table Footer&lt;/td&gt;</li>
    <li>&lt;td&gt;Table Footer&lt;/td&gt;</li>
    <li>&lt;td&gt;Table Footer&lt;/td&gt;</li>
    <li>&lt;/tr&gt;</li>
    <li>&lt;/tfoot&gt;</li>
    <li>&lt;tbody&gt;</li>
    <li>&lt;tr role=&quot;row&quot;&gt;</li>
    <li>&lt;td&gt;Table Data&lt;/td&gt;</li>
    <li>&lt;td&gt;Table Data&lt;/td&gt;</li>
    <li>&lt;td&gt;Table Data&lt;/td&gt;</li>
    <li>&lt;/tr&gt;</li>
    <li>&lt;tr role=&quot;row&quot;&gt;</li>
    <li>&lt;td&gt;Table Data&lt;/td&gt;</li>
    <li>&lt;td&gt;Table Data&lt;/td&gt;</li>
    <li>&lt;td&gt;Table Data&lt;/td&gt;</li>
    <li>&lt;/tr&gt;</li>
    <li>&lt;tr role=&quot;row&quot;&gt;</li>
    <li>&lt;td&gt;Table Data&lt;/td&gt;</li>
    <li>&lt;td&gt;Table Data&lt;/td&gt;</li>
    <li>&lt;td&gt;Table Data&lt;/td&gt;</li>
    <li>&lt;/tr&gt;</li>
    <li>&lt;/tbody&gt;</li>
    <li>&lt;/table&gt;</li>
  </ol>
</div>

<hr>
