// Accent colors --------------------------------------------------------------

// Primary Colors
$purple: #321C38;
$light-purple: #6D5C7E;
$bone: #F2F5F0;
$dark-bone: #DAD8D6;

// Secondary Colors
$red: #EB2F25;
$pink: #E24598;
$blue: #4CC8ED;
$green: #14A74A;
$yellow: #FAED50;

// Greys ----------------------------------------------------------------------

$white: #fff;
$light-grey: #eee;
$grey: #999;
$dark-grey: #555;
$black: #000;

$base-bg-color: $white;
$base-font-color: $black;
$selection-background: $light-grey;
$placeholder-color: $black !default;
$border-color: #ccc;

// Reporting ------------------------------------------------------------------
//
// Using in the Reporting module (module/_reporting.scss)

$reporting-text: #333;

$reporting-success: #a2d69a;
$reporting-success-light: #def1dd;
$reporting-error: #f39b88;
$reporting-error-light: #fadcd7;
$reporting-warning: #f7e287;
$reporting-warning-light: #fcf5d6;
$reporting-info: #90b1d2;
$reporting-info-light: #dae5f0;

// Font-stack -----------------------------------------------------------------
//

$font-stack: Helvetica Neue, Helvetica, Verdana, Roboto, sans-serif;
$letter-space: normal;
$font-smoothing: subpixel-antialiased !default;

@if $locale == 'ja' {
  $font-stack: Helvetica Neue, Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'MS PGothic', 'メイリオ', Meiryo, sans-serif;
  $letter-space: .02rem;
} @else if $locale == 'zh'{
  $font-stack: Helvetica Neue, Helvetica, '宋体', Helvetica, sans-serif;
  $letter-space: normal;
}



// Webkit tap highlight color for mobile
$webkit-tap-highlight-color: rgba(0, 0, 0, .13);

/*
 *  Links color
 */
$link-color: $red;
$link-color-hover: darken($link-color, 10);
$link-color-visited: $link-color-hover;
$link-color-focus: darken($link-color-hover, 10);
$link-hover-effect: .1s;

/*
 *  Button colors
 */
$button-color: $purple;
$button-color-hover: darken($button-color, 5);
$button-color-visited: $button-color-hover;
$button-color-focus: $button-color-hover;
$button-hover-effect: .1s;
$button-font-color: $dark-bone;
$button-hover-font-color: darken($button-font-color, 5);

$button-disabled-color: $light-grey;
$button-disabled-font-color: $grey;

// BreakPoints - For responsive ------------------------------------------------------------------
//

$rd-responsive: true;

$rd-size-small: 480px;
$rd-size-medium: 768px;
$rd-size-large: 960px;
$rd-size-xlarge: 1200px;

$rd-mini: '(max-width: #{$rd-size-small - 1px})';
$rd-small: '(min-width: #{$rd-size-small}) and (max-width: #{$rd-size-medium - 1px})';
$rd-medium: '(min-width: #{$rd-size-medium}) and (max-width: #{$rd-size-large - 1px})';
$rd-large: '(min-width: #{$rd-size-large}) and (max-width: #{$rd-size-xlarge - 1px})';
$rd-xlarge: '(min-width: #{$rd-size-xlarge})';
$rd-devices: '(max-width: #{$rd-size-large - 1px})';

// Padding, Spacing ------------------------------------------------------------------
//

$default-spacing: 20px;


// Components Styles ------------------------------------------------------------------
//

$component-enabled-color: #000;
$component-disabled-color: #CCC;
