$icons: (
    sprite: (width: 100px, height: 616px, pngPath: '../images/svg/svg-sprites.png', svgPath: '../images/svg/svg-sprites.svg'),
    collapse: (width: 36px, height: 144px, backgroundX: 0px, backgroundY: 0px),
    cruise: (width: 68px, height: 272px, backgroundX: 0px, backgroundY: -144px),
    diningout: (width: 100px, height: 200px, backgroundX: 0px, backgroundY: -416px),
);
