/* ==========================================================================
   Colours styles: colours for backgrounds and text
   ========================================================================== */


.bg-purple {
  background: $purple;
}
.text-purple {
  color: $purple;
}

.bg-light-purple {
  background: $light-purple;
}
.text-light-purple {
  color: $light-purple;
}

.bg-bone {
  background: $bone;
}
.text-bone {
  color: $bone;
}

.bg-dark-bone {
  background: $dark-bone;
}
.text-dark-bone {
  color: $dark-bone;
}

.bg-red {
  background: $red;
}
.text-red {
  color: $red;
}

.bg-pink {
  background: $pink;
}
.text-pink {
  color: $pink;
}

.bg-blue {
  background: $blue;
}
.text-blue {
  color: $blue;
}

.bg-green {
  background: $green;
}
.text-green {
  color: $green;
}

.bg-yellow {
  background: $yellow;
}
.text-yellow {
  color: $yellow;
}

.bg-white {
  background: $white;
}
.text-white {
  color: $white;
}