.padding-top {
  padding-top: $default-spacing;
}
.padding-bottom {
  padding-bottom: $default-spacing;
}
.padding-left {
  padding-left: $default-spacing;
}
.padding-right {
  padding-right: $default-spacing;
}
.padding-top-bottom {
  padding-top: $default-spacing;
  padding-bottom: $default-spacing;
}
.padding-left-right {
  padding-left: $default-spacing;
  padding-right: $default-spacing;
}

.margin-top {
  margin-top: $default-spacing;
}
.margin-bottom {
  margin-bottom: $default-spacing;
}
.margin-left {
  margin-left: $default-spacing;
}
.margin-right {
  margin-right: $default-spacing;
}
.margin-top-bottom {
  margin-top: $default-spacing;
  margin-bottom: $default-spacing;
}
.margin-left-right {
  margin-left: $default-spacing;
  margin-right: $default-spacing;
}