{{> layout/header}}

<!-- HTML - START -->

<nav role="navigation" class="pattern-nav bg-purple text-white">
  <h1>Web Framework</h1>
  <ul>
    <li><a href="#">Patterns</a></li>
    <li><a href="#">Components</a></li>
    <li><a href="#"></a></li>
  </ul>
</nav>

<!-- HTML - Pattern HTML Structure - START -->
<div class="page-wrapper">
  <section class="col-6">
    <div class="page-container">
      <h2 class="pattern-hdr">Pattern HTML Structure</h2>
      <p>All main components should use the following HTML container structure. Components within components will not need to be within this container HTML, as there should only be one container. The purpose of the container strcuture is to cater for full-width content, background and border styling.</p>
    </div>
  </section>
</div>

{{> components/pattern-structure}}

<hr>
<!-- HTML - Pattern HTML Structure - END -->


<!-- HTML - Breakpoints - START -->
<div class="page-wrapper">
  <section>
    <div class="page-container">
      <h4 class="pattern-hdr">Breakpoints (For Responsive)</h4>
      <p>The following table shows an overview of available breakpoints and it's respective devices.</p>

      <table class="pattern-table">
        <thead>
        <tr>
          <th>Size</th>
          <th>Breakpoints</th>
          <th>Device</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Mini</td>
          <td>up to 479px</td>
          <td>Phones portrait</td>
        </tr>
        <tr>
          <td>Small</td>
          <td>480px to 767px</td>
          <td>Phones landscape</td>
        </tr>
        <tr>
          <td>Medium</td>
          <td>768px to 959px</td>
          <td>Tablets portrait</td>
        </tr>
        <tr>
          <td>Large</td>
          <td>960px to 1199px</td>
          <td>Desktops &amp; tablets landscape</td>
        </tr>
        <tr>
          <td>Xlarge</td>
          <td>1200px and larger</td>
          <td>Large Desktops</td>
        </tr>
        </tbody>
      </table>

      <p>Usually we build based on 3 breakpoints only, having Mini, Small and Large (which is 768px and larger).</p>
    </div>
  </section>
</div>
<hr>
<!-- HTML - Breakpoints - END -->


<!-- HTML - Components Intro - START -->
<div class="page-wrapper">
  <section>
    <div class="page-container">
      <h4 class="pattern-hdr">Components Introduction</h4>
      <p>The components we've built are based on different categories depending on their purpose &amp; functionality.</p>

      <table class="pattern-table">
        <thead>
        <tr>
          <th>Category</th>
          <th>Descriptions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Default / Base</td>
          <td>These are the basic base components used across within most components.</td>
        </tr>
        <tr>
          <td>Layout</td>
          <td>Fully responsive fluid designs, consists of mainly common content layouts.</td>
        </tr>
        <tr>
          <td>Navigation</td>
          <td>Navigation bars and menus, breadcrumbs and pagination type of components.</td>
        </tr>
        <tr>
          <td>Common</td>
          <td>Common components such as buttons, icons, etc.</td>
        </tr>
        <tr>
          <td>JavaScript</td>
          <td>Components that are configured and controlled by JavaScripts.</td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
<hr>
<!-- HTML - Components Intro - END -->


<!-- HTML - Components - Common - Button - START -->
<div class="page-wrapper">
  <section>
    <div class="page-container">
      <h4 class="pattern-hdr">Components: Common - Button</h4>
    </div>
  </section>
</div>

{{> components/button}}
<!-- HTML - Components - Common - Button - END -->

<!-- HTML - Components - Common - BreadCrumb - START -->
<div class="page-wrapper">
  <section>
    <div class="page-container">
      <h4 class="pattern-hdr">Components: Common - BreadCrumb</h4>
    </div>
  </section>
</div>
{{> components/breadcrumb}}
<!-- HTML - Components - Common - BreadCrumb - END -->

<!-- HTML - Components - Common - Pagination - START -->
<div class="page-wrapper">
  <section>
    <div class="page-container">
      <h4 class="pattern-hdr">Components: Common - Pagination</h4>
    </div>
  </section>
</div>
{{> components/pagination}}
<!-- HTML - Components - Common - Pagination - END -->

<!-- HTML - Components - Common - Table - START -->
<div class="page-wrapper">
  <section>
    <div class="page-container">
      <h4 class="pattern-hdr">Components: Common - Table</h4>
    </div>
  </section>
</div>
{{> components/table}}
<!-- HTML - Components - Common - Table - END -->

<!-- HTML - Components - Common - Columns - START -->
<div class="page-wrapper">
  <section>
    <div class="page-container">
      <h4 class="pattern-hdr">Components: Common - Columns</h4>
    </div>
  </section>
</div>
{{> components/columns}}
<!-- HTML - Components - Common - Columns - END -->



<!-- HTML - END -->

{{> layout/footer}}
