<!-- Normal Button -->
<p>To use this component, simply add the <code>.columns</code> class to a <code>&lt;div&gt;</code> element.</p>

<h5 class="pattern-sub-hdr">Example:</h5>
<div class="columns col-2">
  <div class="column">Column 1</div>
  <div class="column">Column 2</div>
</div>

<div class="columns col-3">
  <div class="column">Column 1</div>
  <div class="column">Column 2</div>
  <div class="column">Column 3</div>
</div>

<div class="columns col-4">
  <div class="column">Column 1</div>
  <div class="column">Column 2</div>
  <div class="column">Column 3</div>
  <div class="column">Column 4</div>
</div>

<div class="columns col-5">
  <div class="column">Column 1</div>
  <div class="column">Column 2</div>
  <div class="column">Column 3</div>
  <div class="column">Column 4</div>
  <div class="column">Column 5</div>
</div>

<div class="columns col-6">
  <div class="column">Column 1</div>
  <div class="column">Column 2</div>
  <div class="column">Column 3</div>
  <div class="column">Column 4</div>
  <div class="column">Column 5</div>
  <div class="column">Column 6</div>
</div>

<br><br>

<p>For no spacing (gutter space) in-between, simply add the <code>.collapsed</code> class to the <code>&lt;div&gt;</code> column element.</p>

<h5 class="pattern-sub-hdr">Example:</h5>
<div class="columns col-2 collapsed">
  <div class="column">Column 1</div>
  <div class="column">Column 2</div>
</div>

<div class="columns col-3 collapsed">
  <div class="column">Column 1</div>
  <div class="column">Column 2</div>
  <div class="column">Column 3</div>
</div>

<div class="columns col-4 collapsed">
  <div class="column">Column 1</div>
  <div class="column">Column 2</div>
  <div class="column">Column 3</div>
  <div class="column">Column 4</div>
</div>

<div class="columns col-5 collapsed">
  <div class="column">Column 1</div>
  <div class="column">Column 2</div>
  <div class="column">Column 3</div>
  <div class="column">Column 4</div>
  <div class="column">Column 5</div>
</div>

<div class="columns col-6 collapsed">
  <div class="column">Column 1</div>
  <div class="column">Column 2</div>
  <div class="column">Column 3</div>
  <div class="column">Column 4</div>
  <div class="column">Column 5</div>
  <div class="column">Column 6</div>
</div>

<h5 class="pattern-sub-hdr">Markup:</h5>
<div class="pattern-code">
  <ol>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ol>
</div>

<hr>
