/*
 * breadcrumbs.scss
 *
 * $Rev:: 1         $:  Revision of last commit
 * $Author:: Leon       $:  Author of last commit
 * $Date:: 2015-01-15 1#$:  Date of last commit
*/

/*
 * To seperate content of a component chunk of codes & content
*/

/*doc
---
title: Breadcrumbs
name: breadcrumbs
category: Component Breadcrumbs
---

To use this component, simply add the <code>.breadcrumb</code> class to a <code>&lt;ul&gt;</code> or <code>&lt;ol&gt;</code> element.<br>
Set the current/active page with the <code>.active</code> class.

```html_example
<nav role="navigation" aria-label="breadcrumb">
  <ul class="breadcrumb">
    <li><a href="#" aria-level="1">Home</a></li>
    <li><a href="#" aria-level="2">Listing</a></li>
    <li class="active"><a href="#">Offers Details</a></li>
  </ul>
</nav>
```

*/

.breadcrumb{
  margin: 0;
  padding: 0;

  list-style: none;
  @include clearfix;

  li{
    display: inline-block;
    list-style: none;

    &.active a,
    &:hover a{
      text-decoration: underline;
    }
  }

  >li+li:before{
    padding: 0 5px;
    color: $component-enabled-color;
    content: "/\00a0";
  }

  a{
    text-decoration: none;
    color: $component-enabled-color;
  }

}

