/*
 * buttons.scss
 *
 * $Rev:: 1         $:  Revision of last commit
 * $Author:: Leon       $:  Author of last commit
 * $Date:: 2015-01-15 1#$:  Date of last commit
*/

/*
 * Button styles
 */


.btn {
  display: inline-block;
  padding: ($default-spacing / 2);

  background-color: $button-color;
  border-radius: ($default-spacing / 4);

  color: $button-font-color;
  font-size: 1em;
  line-height: 1;
  text-decoration: none;

  &:hover{
    background-color: $button-color-hover;
    color: $button-hover-font-color;
  }

  &.disabled{
    background-color: $button-disabled-color;
    color: $button-disabled-font-color;
    border-color: rgba(0,0,0,.2);
    background-image: none;
    box-shadow: none;
    cursor: not-allowed;
  }

  &.full-width{
    display: block;
    width: 100%;
    text-align: center;
  }
}
