/*
 * buttons.scss
 *
 * $Rev:: 1         $:  Revision of last commit
 * $Author:: Leon       $:  Author of last commit
 * $Date:: 2015-01-15 1#$:  Date of last commit
*/

/*
<<<<<<< HEAD
 * To seperate content of a component chunk of codes & content
*/


/*doc
---
title: Buttons
name: button
category: Component - Button
---

Button styles can be applied to any element. Typically you'll want to
use either a `<button>`, `<a>`, `<input type='button'>` or `<input type='submit'>` element:

```html_example
<button class="btn">Click here!</button>
<a class="btn" href="http://www.google.com.sg">Google.com.sg</a>
```

*/

.btn{
=======
 * Button styles
 */


.btn {
>>>>>>> aa317287fe91b7ae5b467e242314f72730372b03
  display: inline-block;
  padding: ($default-spacing / 2);

  background-color: $button-color;
  border-radius: ($default-spacing / 4);

  color: $button-font-color;
  font-size: 1em;
  line-height: 1;
  text-decoration: none;

  &:hover{
    background-color: $button-color-hover;
    color: $button-hover-font-color;
  }

  &.disabled{
    background-color: $button-disabled-color;
    color: $button-disabled-font-color;
    border-color: rgba(0,0,0,.2);
    background-image: none;
    box-shadow: none;
    cursor: not-allowed;
  }

  &.full-width{
    display: block;
    width: 100%;
    text-align: center;
  }
}
