/*
 * buttons.scss
 *
 * $Rev:: 1         $:  Revision of last commit
 * $Author:: Leon       $:  Author of last commit
 * $Date:: 2015-01-15 1#$:  Date of last commit
*/

/*
 * To seperate content of a component chunk of codes & content
*/


/*doc
---
title: Buttons
name: button
category: Base CSS
---

Button styles can be applied to any element. Typically you'll want to
use either a `<button>`, `<a>`, `<input type='button'>` or `<input type='submit'>` element:

```html_example
<button class="btn">Click here!</button>
<a class="btn" href="http://www.google.com.sg">Google.com.sg</a>
```

*/


.btn{
  display: inline-block;
  padding: ($default-spacing / 2);

  background-color: lightgray;
  border-radius: ($default-spacing / 4);

  color: $component-enabled-color;
  font-size: 1em;
  text-decoration: none;

  &:hover{
    background-color: darkgrey;
  }

  &.disabled{
    background-color: #fafafa;
    color: $component-disabled-color;
    border-color: rgba(0,0,0,.2);
    background-image: none;
    box-shadow: none;
    text-shadow: 0 1px 0 #fff;
    cursor: not-allowed;
  }

  &.full-width{
    display: block;
    width: 100%;
    text-align: center;
  }
}
