/*
 * buttons.scss
 *
 * $Rev:: 1         $:  Revision of last commit
 * $Author:: Leon       $:  Author of last commit
 * $Date:: 2015-01-15 1#$:  Date of last commit
*/

/*
 * Button styles
 */


/*doc
---
title: Buttons
name: button
category: Component - Button
---

Button styles can be applied to any element. Typically you'll want to
use either a `<button>`, `<a>`, `<input type='button'>` or `<input type='submit'>` element:

```html_example
<a role="button" aria-disabled="false" href="#" class="btn">&lt;a&gt; link disguised as a button</a>
<button role="button" aria-disabled="false" class="btn"><span class="icon icon-demo"></span>&lt;button&gt; Button</button>
<input role="button" aria-disabled="false" type="button" class="btn" value="Input Button" />
<input role="button" aria-disabled="false" type="submit" class="btn" value="Input Submit" />
```

Along with the <code>.btn</code> class, add another additional <code>.disabled</code> class to the element.

```html_example
<a role="button" aria-disabled="true" href="#" class="btn disabled">&lt;a&gt; link disguised as a button</a>
<button role="button" aria-disabled="true" class="btn disabled">&lt;button&gt; Button</button>
<input role="button" aria-disabled="true" type="button" class="btn disabled" value="Input Button" />
<input role="button" aria-disabled="true" type="submit" class="btn disabled" value="Input Submit" />
```

Along with the <code>.btn</code> class, add another additional <code>.full-width</code> class to the element.

```html_example
<div class="row">
  <a role="button" aria-disabled="false" href="#" class="btn full-width">Full Width &lt;a&gt; link disguised as a button</a>
</div>
<div class="row">
  <button role="button" aria-disabled="false" class="btn full-width">Full Width &lt;button&gt; Button</button>
</div>
<div class="row">
  <input role="button" aria-disabled="false" type="button" class="btn full-width" value="Input Button" />
</div>
<div class="row">
  <input role="button" aria-disabled="false" type="submit" class="btn full-width" value="Input Submit" />
</div>
```

*/

.btn{
  display: inline-block;
  padding: ($default-spacing / 2);

  background-color: $button-color;
  border-radius: ($default-spacing / 4);

  color: $button-font-color;
  font-size: 1em;
  line-height: 1;
  text-decoration: none;

  &:hover{
    background-color: $button-color-hover;
    color: $button-hover-font-color;
  }

  &.disabled{
    background-color: $button-disabled-color;
    color: $button-disabled-font-color;
    border-color: rgba(0,0,0,.2);
    background-image: none;
    box-shadow: none;
    cursor: not-allowed;
  }

  &.full-width{
    display: block;
    width: 100%;
    text-align: center;
  }
}
