/*
 * columns.scss
 *
 * $Rev:: 1         $:  Revision of last commit
 * $Author:: Leon       $:  Author of last commit
 * $Date:: 2015-01-15 1#$:  Date of last commit
*/

/*doc
---
title: Columns
name: columns
category: Base Columns
---

To use the column layout, simply add the <code>.columns</code> class to a <code>&lt;div&gt;</code> element.<br>
Followed by using CSS helper class to define the total number of columns required. <br>
For example, if there's 2 columns, the "col-2" CSS class is placed.

```html_example
<div class="columns col-2">
  <div class="column">Column 1</div>
  <div class="column">Column 2</div>
</div>
<div class="columns col-3">
  <div class="column">Column 1</div>
  <div class="column">Column 2</div>
  <div class="column">Column 3</div>
</div>
<div class="columns col-4">
  <div class="column">Column 1</div>
  <div class="column">Column 2</div>
  <div class="column">Column 3</div>
  <div class="column">Column 4</div>
</div>
<div class="columns col-5">
  <div class="column">Column 1</div>
  <div class="column">Column 2</div>
  <div class="column">Column 3</div>
  <div class="column">Column 4</div>
  <div class="column">Column 5</div>
</div>
<div class="columns col-6">
  <div class="column">Column 1</div>
  <div class="column">Column 2</div>
  <div class="column">Column 3</div>
  <div class="column">Column 4</div>
  <div class="column">Column 5</div>
  <div class="column">Column 6</div>
</div>
```
For no spacing (gutter space) in-between, simply add the <code>.collapsed</code> class to the <code>&lt;div&gt;</code> column element.

```html_example
<div class="columns col-2 collapsed">
  <div class="column">Column 1</div>
  <div class="column">Column 2</div>
</div>
<div class="columns col-3 collapsed">
  <div class="column">Column 1</div>
  <div class="column">Column 2</div>
  <div class="column">Column 3</div>
</div>
<div class="columns col-4 collapsed">
  <div class="column">Column 1</div>
  <div class="column">Column 2</div>
  <div class="column">Column 3</div>
  <div class="column">Column 4</div>
</div>
<div class="columns col-5 collapsed">
  <div class="column">Column 1</div>
  <div class="column">Column 2</div>
  <div class="column">Column 3</div>
  <div class="column">Column 4</div>
  <div class="column">Column 5</div>
</div>
<div class="columns col-6 collapsed">
  <div class="column">Column 1</div>
  <div class="column">Column 2</div>
  <div class="column">Column 3</div>
  <div class="column">Column 4</div>
  <div class="column">Column 5</div>
  <div class="column">Column 6</div>
</div>
```

*/


.columns{

  margin: 0 0 $default-spacing 0;
  @include clearfix;

  .column{
    @include span-columns(12);
    float: left;
    border: 1px solid #CCC;
  }

  &.col-2 .column{
    @include span-columns(6 of 12);
  }

  &.col-3 .column{
    @include span-columns(4 of 12);
  }

  &.col-4 .column{
    @include span-columns(3 of 12);
  }

  &.col-5 .column{
    @include span-columns(2.4 of 12);
  }

  &.col-6 .column{
    @include span-columns(2 of 12);
  }


  &.col-2.collapsed .column{
    @include span-columns(6 of 12, block-collapse);
    margin: 0;
  }

  &.col-3.collapsed .column{
    @include span-columns(4 of 12, block-collapse);
    margin: 0;
  }

  &.col-4.collapsed .column{
    @include span-columns(3 of 12, block-collapse);
    margin: 0;
  }

  &.col-5.collapsed .column{
    @include span-columns(2.4 of 12, block-collapse);
    margin: 0;
  }

  &.col-6.collapsed .column{
    @include span-columns(2 of 12, block-collapse);
    margin: 0;
  }

}
