/*
 * layouts.scss
 *
 * $Rev:: 1         $:  Revision of last commit
 * $Author:: Leon       $:  Author of last commit
 * $Date:: 2015-01-15 1#$:  Date of last commit
*/


.page-wrapper{
  margin-bottom: 20px;
}

.page-container {
  width: 100%;
  max-width: $max-container-width;
  margin: 0 auto;
  z-index: 1;
  &.full-width {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
}
section {
  width: percentage(1100/1140);
  padding: $default-spacing;
  margin: 0 auto;
  &.full-width {
    width: 100%;
  }
}
.component-section{
  padding: 40px 0;
  @include clearfix;
}

.left-content{
  @include span-columns(4);
}

.right-content{
  @include span-columns(4);
}

.half-content{
  @include span-columns(6);
}

.tri-content{
  @include span-columns(4);
}

.quad-content{
  @include span-columns(3);
}

.left-nav {
  @include span-columns(3);
}
.central-content {
  @include span-columns(8);
  @include omega();
  margin: 0 auto;
  float: none;
  &:last-child {
    margin: 0 auto !important;
  }
}
