/*
 * layouts.scss
 *
 * $Rev:: 1         $:  Revision of last commit
 * $Author:: Leon       $:  Author of last commit
 * $Date:: 2015-01-15 1#$:  Date of last commit
*/

.page-wrapper{
  margin-bottom: 20px;

  .page-container{
    @extend .padding-left-right;
    @include clearfix;
    width: 100%;
    z-index: 1;
  }

  section{
    width: 100%;
    max-width: $max-container-width;
    margin: 0 auto;
    @include clearfix;
    &.full-width{
      max-width: 100%;
    }
  }

}

.row {
  @include row;
  margin-bottom: $default-spacing;
  &:last-child {
    margin-bottom: 0;
  }
}

.left-content{
  @include span-columns(4);
}

.right-content{
  @include span-columns(4);
}

.half-content{
  @include span-columns(6);
}

.main-content{
  @include span-columns(8);
}

.tri-content{
  @include span-columns(4);
}

.quad-content{
  @include span-columns(3);
}

.central-content {
  @include span-columns(8);
  @include omega();
  margin: 0 auto;
  float: none;
  &:last-child {
    margin: 0 auto !important;
  }
}
