/*
 * layouts.scss
 *
 * $Rev:: 1         $:  Revision of last commit
 * $Author:: Leon       $:  Author of last commit
 * $Date:: 2015-01-15 1#$:  Date of last commit
*/

/*doc
---
title: Layouts
name: layouts
category: Component Layouts
---

All main components should use the following HTML container structure.
Components within components will not need to be within this container HTML, as there should only be one container.
The purpose of the container structure is to cater for full-width content, background and border styling.

```html_example
<div class="page-wrapper">
  <section>
    <div class="page-container bg-bone">background color for illustration purpose only</div>
  </section>
</div>
```

*/

.page-wrapper{
  margin-bottom: 20px;

  .page-container{
    @extend .padding-left-right;
    @include clearfix;
    width: 100%;
    z-index: 1;
  }

  section{
    width: 100%;
    max-width: $max-container-width;
    margin: 0 auto;
    @include clearfix;
    &.full-width{
      max-width: 100%;
    }
  }

}
