/*
 * pagination.scss
 *
 * $Rev:: 1         $:  Revision of last commit
 * $Author:: Leon       $:  Author of last commit
 * $Date:: 2015-01-15 1#$:  Date of last commit
*/

/*doc
---
title: Pagination
name: pagination
category: Component - pagination
---

To use this component, simply add the <code>.pagination</code> class to a <code>&lt;ul&gt;</code> or <code>&lt;ol&gt;</code> element. <br>
Set the current/active page with the <code>.active</code> class.

```html_example
<nav role="navigation" aria-label="pagination">
  <ul class="pagination">
    <li><a href="#" class="pagination-prev">&laquo;</a></li>
    <li><a href="#" class="active">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#" class="pagination-next">&raquo;</a></li>
  </ul>
</nav>
```

Simply add the <code>.disabled</code> class to a <code>&lt;a&gt;</code> element.

```html_example
<nav role="navigation" aria-label="pagination">
  <ul class="pagination">
    <li><a href="#" class="pagination-prev disabled">&laquo;</a></li>
    <li><a href="#" class="active">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#" aria-disabled="true" class="disabled">3</a></li>
    <li><a href="#" aria-disabled="true" class="disabled">4</a></li>
    <li><a href="#" aria-disabled="true" class="pagination-next disabled">&raquo;</a></li>
  </ul>
</nav>
```

*/

.pagination{
  list-style: none;
  padding: 0;

  @include clearfix;

  li{
    display: inline-block;
  }

  a{
    display: block;
    padding: 5px;
    text-decoration: none;
    color: $component-enabled-color;

    @include transition(all 0.3s ease-in-out);

    &.active,
    &:hover{
      background-color: #CCC;

      &.disabled{
        background: none;
      }

    }

    &.pagination-prev{

    }

    &.pagination-next{

    }

    &.disabled{
      cursor: not-allowed;
      color: $component-disabled-color;
    }

  }

}

