/*
 * pattern.scss
 *
 * $Rev:: 1         $:  Revision of last commit
 * $Author:: Leon       $:  Author of last commit
 * $Date:: 2015-01-15 1#$:  Date of last commit
*/

/*
 * To seperate content of a component chunk of codes & content
*/


.pattern-nav {
  @include clearfix;
  padding: 20px;
  h1 {
    text-align: center;
  }
  a {
    color: $white;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
    }
  }
}

code{
  display: block;
  padding: 4px 8px;
  margin: 10px 0;
  background: $bone;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 12px;
  color: $black;
}

p code{
  display: inline-block;
  margin: 0;
}

.pattern-hdr{
  padding: 10px;
  font-weight: bold;
  background-color: $dark-bone;
}

.pattern-title-hdr{
  background-color: $dark-bone;
  padding: 5px;
}

.pattern-sub-hdr{
  border-left: 3px solid $dark-bone;
  padding-left: 5px;
  margin: $default-spacing 0 ($default-spacing/2);
}

.pattern-box {
  background: url(../images/footer_lodyas.png) $light-grey;
  padding: 10px 0;
  font-size: 0.9em;
}

.pattern-table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
  margin-bottom: 20px;

  font-size: 0.9em;

  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }

  tr:nth-of-type(odd) {
    background: #fafafa;
  }

  th{
    padding: 8px;
    border-bottom: 1px solid #e5e5e5;
    text-align: left;
    background: #f4f4f4;
  }

  td,th{
    display: table-cell;
    vertical-align: inherit;
    padding: 8px;
    border-bottom: 1px solid #e5e5e5;
  }

}

.pattern-code{
  position: relative;
  font-size: 12px;

  padding: 5px;

  border: 1px solid #ccc;
  box-shadow: inset 20px 0 0 #eeeeee, inset 20px 0 0 #ececf0;

  ol{
    margin: 0;
    padding-left: 20px;
    font-size: em(12,12);
  }

  code{
    background: none;
    border: none;
    padding-left: 20px;
  }

}
