/*
 * table.scss
 *
 * $Rev:: 1         $:  Revision of last commit
 * $Author:: Leon       $:  Author of last commit
 * $Date:: 2015-01-15 1#$:  Date of last commit
*/

/*
 * To seperate content of a component chunk of codes & content
*/

/*doc
---
title: Table
name: table
category: Component - table
---

To use this component, simply add the <code>.pagination</code> class to a <code>&lt;ul&gt;</code> or <code>&lt;ol&gt;</code> element. <br>
Set the current/active page with the <code>.active</code> class.

```html_example
<table class="table" role="grid">
  <caption>Table caption</caption>
  <thead>
    <tr role="row">
      <th role="columnheader">Table Heading</th>
      <th role="columnheader">Table Heading</th>
      <th role="columnheader">Table Heading</th>
    </tr>
  </thead>
  <tfoot>
  <tr role="row">
    <td>Table Footer</td>
    <td>Table Footer</td>
    <td>Table Footer</td>
  </tr>
  </tfoot>
  <tbody>
    <tr role="row">
      <td>Table Data</td>
      <td>Table Data</td>
      <td>Table Data</td>
    </tr>
    <tr role="row">
      <td>Table Data</td>
      <td>Table Data</td>
      <td>Table Data</td>
    </tr>
    <tr role="row">
      <td>Table Data</td>
      <td>Table Data</td>
      <td>Table Data</td>
    </tr>
  </tbody>
</table>
```

For 100% width, simply add the <code>.full-width</code> class to a <code>&lt;table&gt;</code> element.

```html_example
<table class="table full-width" role="grid">
  <caption>Table caption</caption>
  <thead>
    <tr role="row">
      <th role="columnheader">Table Heading</th>
      <th role="columnheader">Table Heading</th>
      <th role="columnheader">Table Heading</th>
    </tr>
  </thead>
  <tfoot>
  <tr role="row">
    <td>Table Footer</td>
    <td>Table Footer</td>
    <td>Table Footer</td>
  </tr>
  </tfoot>
  <tbody>
    <tr role="row">
      <td>Table Data</td>
      <td>Table Data</td>
      <td>Table Data</td>
    </tr>
  </tbody>
</table>
```

For borders all around, simply add the <code>.border-lines</code> class to a <code>&lt;table&gt;</code> element.

```html_example
<table class="table full-width border-lines" role="grid">
  <caption>Table caption</caption>
  <thead>
    <tr role="row">
      <th role="columnheader">Table Heading</th>
      <th role="columnheader">Table Heading</th>
      <th role="columnheader">Table Heading</th>
    </tr>
  </thead>
  <tfoot>
  <tr role="row">
    <td>Table Footer</td>
    <td>Table Footer</td>
    <td>Table Footer</td>
  </tr>
  </tfoot>
  <tbody>
    <tr role="row">
      <td>Table Data</td>
      <td>Table Data</td>
      <td>Table Data</td>
    </tr>
  </tbody>
</table>
```

*/

.table{

  caption,
  th{
    text-align: left;
  }

  td,
  th{
    padding: 8px;
    border-bottom: 1px solid #CCC;
  }

  &.full-width{
    width: 100%;
  }

  &.border-lines{
    th, td{
      border: 1px solid #ddd;
    }
  }

}
